<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New File</title>
</head>
<body>

    <h1>Add New File</h1>

    <form action="/add-file" method="POST" enctype="multipart/form-data">
        <label for="file-upload">Choose file:</label>
        <input type="file" id="file-upload" name="uploaded_file" onchange="copyFileName()">

        <label for="file-name">File Name:</label>
        <input type="text" id="file-name" name="file_name" placeholder="Will match file name...">

        <div id="file-info"></div>

        <button type="submit">Submit</button>
    </form>

    <script src="/js/upload.js"></script>

</body>
</html>